.img-holder{
    justify-content: center;
    display: flex;
    text-align: center;

    img{
        border-radius: 6px;
        width: 100%;
        max-width: 200px;
        margin: 0 32px;
        margin-bottom: 50px;
        padding: 16px;
        border: solid 3px var(--ion-color-primary);
        background-color: white;

        box-shadow: 0 7px 14px 0 rgba(85,110,145,0), 0 1px 3px 0 rgba(0,0,0,.1), 0 5px 10px 0 rgba(0,0,0,.08), inset 0 -1px 0 0 rgba(0,0,0,.2);
    }

    .change-avatar{
        margin-top: -75px;
        --border-radius: 50px;
    }
}
.price-warning {
    background: var(--ion-color-danger) !important;
}

.full-screen{
    min-height: calc(100vh - 385px);
}

.table-contain{
    max-width: 1440px;
    margin: auto;

    section.table header{
        height: 45px;
    }
    .row{
        width: unset;
    }
    .col-id {
        max-width: 50px;
        min-width: 50px;
        font-weight: bold;
    }
    .col-name {
        min-width: 150px;
        b{
            color: var(--ion-color-primary);
        }
    }
    .col-uom{
        max-width: 90px;
        min-width: 90px;
        justify-content: center;
        .c-input{
            text-align: center;
        }
    }
    .col-price {
        min-width: 70px;
        max-width: 70px;
        text-align: right;
        justify-content: flex-end;
    }
    .col-qty {
        min-width: 60px;
        max-width: 60px;
        justify-content: flex-end;
        .c-input{
            text-align: right;
            font-weight: bold;
            color: var(--ion-color-primary);
        }
    }
    .col-discount {
        max-width: 70px;
        min-width: 70px;
        text-align: right;
        justify-content: flex-end;
    }

    .col-promotion {
        max-width: 50px;
        min-width: 50px;
        justify-content: center;
    }

    .col-total {
        min-width: 100px;
        max-width: 100px;
        text-align: right;
        justify-content: flex-end;
        .c-input{
            text-align: right;
            font-weight: bold;
            color: var(--ion-color-primary);
        }
    }
    .col-del {
        max-width: 40px;
        min-width: 40px;
        justify-content: center;
        cursor: pointer;
    }
    .c-input{
        text-align: right;
    }

    .cell{
        padding: 2px 2px;

        .info-color{
            margin-left: 4px;
        }
    }

    .disable.cell,input[disabled], input[readonly], select[disabled]{
        background: linear-gradient(180deg, var(--main-background-top), var(--main-background-top));
    }
}

