<ion-header>
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme>
  <ng-container *ngFor="let i of items; let j = index;">
    <ion-item-divider *ngIf="myHeaderFn(i, j, items); let header"> {{ header }} </ion-item-divider>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="http://placekitten.com/300/300" />
      </ion-avatar>
      <ion-label>
        <h2>
          Dung
          <div class="ion-float-right">
            <ion-text>20 phút</ion-text>
          </div>
        </h2>
        <p>CASTER 3 - thêm 50 khách.</p>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>
