<ion-header>
    

    <ion-toolbar color="primary">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
            <ion-segment-button value="s1">
                <ion-label>{{'erp.app.pages.sale.sale-order.create-arinvoice.split-order' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="s2">
                <ion-label>{{'erp.app.pages.sale.sale-order.create-arinvoice.detail' | translate}}</ion-label>
            </ion-segment-button>

            <!-- <ion-segment-button [value]="idx" *ngFor="let o of item.SplitedInvoices; let idx = index;">
                <ion-label>#{{idx+1}}</ion-label>
            </ion-segment-button> -->
        </ion-segment>
        <ion-buttons slot="end">
            <ion-button (click)="addSplitedInvoice()">
                <ion-icon class="min-btn" title="{{'erp.app.pages.sale.sale-order.create-arinvoice.add' | translate}}" name="add-circle-outline"></ion-icon>
            </ion-button>

            <ion-button title="{{'erp.app.pages.sale.sale-order.create-arinvoice.help' | translate}}" (click)="help()">
                <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
            </ion-button>

            <ion-button title="{{'erp.app.pages.sale.sale-order.create-arinvoice.close-modal' | translate}}" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
    <div id="order-detail-page" style="position: absolute;"></div>

    <div class="main-view" *ngIf="segmentView == 's1'">

        <ion-grid fixed style="max-width: 500px;">

            <ion-row style="border: none;" *ngFor="let o of item.SplitedOrders; let idx = index;">

                <ion-col size="11">
                    <div class="c-control">
                        <label class="c-label" for="IDContact">
                            {{'erp.app.pages.sale.sale-order.create-arinvoice.idcontact' | translate}} #{{idx+1}})
                        </label>

                        <ng-select [(ngModel)]="o.IDContact" appendTo="#order-detail-page" class="c-input"
                            (change)="changedIDContact($event, o)" #IDContact labelForId="IDContact"
                            [items]="contactList$ | async" [typeahead]="contactListInput$"
                            [loading]='contactListLoading' [virtualScroll]="true" bindLabel="Name" bindValue="Id"
                            placeholder="{{'erp.app.pages.sale.sale-order.create-arinvoice.placeholder-iditem' | translate}}">
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                <div *ngIf="i">
                                    <div>
                                        <span>{{i.Name}}</span>
                                        <span *ngIf="i.WorkPhone"> | <small> <b>{{i.WorkPhone}}</b></small></span>
                                    </div>
                                    <small>#<b><span class="important">{{i.Id}} - {{i.Code}}</span></b> <span
                                            *ngIf="i.AddressLine1"> | {{i.AddressLine1}}</span></small>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>
                </ion-col>
                <ion-col size="1">
                    <ion-button *ngIf="!o.isFirst" class="ion-float-right" style="margin-top: 2.8rem;" size="small"
                        fill="clear" color="danger" (click)="removeSplitedInvoice(o)">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-col>

            </ion-row>

            <ion-row class="hr-group">
                <ion-col size="11">
                    <div class="c-control ion-text-right">
                        <ion-button (click)="addSplitedInvoice()">
                            {{'erp.app.pages.sale.sale-order.create-arinvoice.add-splited-invoice' | translate}}
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>



    </div>

    <div class="main-view" *ngIf="segmentView != 's1'">


        <div class="row-full shadow full-screen">
            <div style="min-height: calc(90vh - 80px);">

                <div class="table-contain">
                    <section class="table">
                        <ng-container>
                            <div class="row" *ngFor="let i of items; let idx = index;">
                                <!-- <div class="col-id cell">{{idx+1}}</div> -->
                                <div class="col-name cell">
                                    <div style=" min-width: 100%; max-width: 100%;">
                                        <div style="max-width: 100%;">
                                            <ng-select [disabled]="true" [id]="'drl'+idx" class="c-input"
                                                appendTo="#order-detail-page" [(ngModel)]="i.IDItem"
                                                [labelForId]="'IDItem'+idx" [items]="itemList$ | async"
                                                [typeahead]="itemListInput$" [virtualScroll]="true" bindLabel="Name"
                                                bindValue="Id" placeholder="{{'erp.app.pages.sale.sale-order.create-arinvoice.placeholder-idcontact' | translate}}">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div><span>{{i.Name}}</span></div>
                                                        <small>#<b><span class="important">{{i.Id}} -
                                                                    {{i.Code}}</span></b></small>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>

                                        <table style="max-width: 100%; min-width: 100%;">
                                            <tr *ngIf="i._itemData && i._itemData.UoMs.length">
                                                <td class="label">{{'erp.app.pages.sale.sale-order.create-arinvoice.unit' | translate}}</td>
                                                <td class="UoM col-total c-control"
                                                    *ngFor="let o of i.splitDetail; let jdx = index;">
                                                    <span class="c-input c-dropdown">{{o.UoMName}}</span>
                                                    <!-- <select [disabled]="true" class="c-input c-dropdown"
                                                        [(ngModel)]="o.IDUoM">
                                                        <option disabled value="">Chọn đơn vị</option>
                                                        <option [disabled]="t.Flag" *ngFor="let t of i._itemData.UoMs"
                                                            [value]="t.Id">{{t.Name}}</option>
                                                    </select> -->
                                                </td>
                                            </tr>
                                            <tr *ngIf="i._itemData && i.IDUoM">
                                                <td class="label">{{'erp.app.pages.sale.sale-order.quantity' | translate}}</td>
                                                <td *ngFor="let o of i.splitDetail; let jdx = index;">
                                                    <input type="tel"
                                                        (focus)="$event.target.select()"
                                                        (blur)="changedCalc(i, o, 'Quantity')" class="c-input"
                                                        [min]="1"
                                                        [max]="999" mask="separator.0"
                                                        thousandSeparator="," [(ngModel)]="o.Quantity"
                                                        onkeydown="return event.keyCode !== 190">
                                                </td>
                                            </tr>

                                        </table>

                                    </div>

                                </div>
                            </div>
                        </ng-container>
                    </section>
                </div>

                <div class="table-contain">
                    <div class="row">
                        <div class="cell">
                            <ion-button (click)="splitARInvoice()" [disabled]="!isCanSplit || submitAttempt"
                                style="max-width: 300px" class="ion-margin ion-float-right" size="block">
                                {{'erp.app.pages.sale.sale-order.create-arinvoice.split-arinvoice' | translate}}
                            </ion-button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</ion-content>