<ion-header>
	<ion-toolbar>
		<ion-title>{{'Add new customer' | translate}}</ion-title>
		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="applyBP()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme>
	<ion-grid class="ion-padding" fixed *ngIf="!BPView">
		<ion-row>
			<ion-col>
				<div class="c-control">
					<label class="c-label" for="Phone1">{{'Phone number' | translate}}</label>
					<input class="c-input" required [(ngModel)]="PhoneCheck" type="tel">
				</div>

				<div class="c-control ion-text-right">
					<ion-button (click)="checkBPexist()">
						{{'Check' | translate}}
					</ion-button>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<form [formGroup]="formGroup" *ngIf="BPView">
		<ion-grid fixed>
			<ion-row>
				<ion-col>
					<div class="c-control">
						<label class="c-label" for="Name">{{'Shop name' | translate}}
							<span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
						</label>
						<input class="c-input" id="Name" formControlName="Name" type="text">
					</div>

					<ng-container *ngFor="let add of [$any(formGroup['controls'].Address)]">
						<ng-container [formGroup]="add">
							<div class="c-control">
								<label class="c-label" for="Contact">{{'Contact point' | translate}}
									<span *ngIf="!add.controls.Contact.valid && !add.controls.Contact.pending && (add.controls.Contact.dirty || submitAttempt)" ion-text color="danger">(*)</span>
								</label>
								<input class="c-input" id="Contact" formControlName="Contact" type="text">
							</div>

							<div class="c-control">
								<label class="c-label" for="Phone1">{{'Phone number' | translate}}
									<span *ngIf="!add.controls.Phone1.valid && !add.controls.Phone1.pending && (add.controls.Phone1.dirty || submitAttempt)" ion-text color="danger">(*)</span>
								</label>
								<input class="c-input" formControlName="Phone1" type="tel">
							</div>

							<div class="c-control">
								<label class="c-label" [for]="'Province'">{{'Provinces' | translate}}
									<span *ngIf="!add.controls.Province.valid && !add.controls.Province.pending && (add.controls.Province.dirty || submitAttempt)" ion-text color="danger">(*)</span>
								</label>
								<input class="c-input" [attr.id]="'Province'" formControlName="Province">
							</div>
							<div class="c-control">
								<label class="c-label" [for]="'District'">{{'District' | translate}}
									<span *ngIf="!add.controls.District.valid && !add.controls.District.pending && (add.controls.District.dirty || submitAttempt)" ion-text color="danger">(*)</span>
								</label>
								<input class="c-input" [attr.id]="'District'" formControlName="District">
							</div>
							<div class="c-control">
								<label class="c-label" [for]="'Ward'">{{'Ward' | translate}}
									<span *ngIf="!add.controls.Ward.valid && !add.controls.Ward.pending && (add.controls.Ward.dirty || submitAttempt)" ion-text color="danger">(*)</span>
								</label>
								<input class="c-input" [attr.id]="'Ward'" formControlName="Ward">
							</div>
							<div class="c-control">
								<label class="c-label" [for]="'AddressLine1'">{{'House number, street name, quarter' | translate}}
									<span *ngIf="!add.controls.AddressLine1.valid && !add.controls.AddressLine1.pending && (add.controls.AddressLine1.dirty || submitAttempt)" ion-text color="danger">(*)</span>
								</label>
								<input class="c-input" [attr.id]="'AddressLine1'" formControlName="AddressLine1">
							</div>

							<div class="c-control">
								<label class="c-label" [for]="'AddressLine2'">{{'Apartment, Building, Utility poles…' | translate}}
									<span *ngIf="!add.controls.AddressLine2.valid && !add.controls.AddressLine2.pending && (add.controls.AddressLine2.dirty || submitAttempt)" ion-text color="danger">(*)</span>
								</label>
								<input class="c-input" [attr.id]="'AddressLine2'" formControlName="AddressLine2">
							</div>
						</ng-container>
					</ng-container>

					<div class="c-control">
						<label class="c-label" for="Code">{{'Customer code' | translate}}
							<span *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)" ion-text color="danger">(*)</span>
						</label>
						<input class="c-input" id="Code" formControlName="Code" type="text">
					</div>

					<div class="c-control">
						<label class="c-label" for="Remark">{{'Remark' | translate}}
							<span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
						</label>
						<textarea rows="3" class="c-input" id="Remark" formControlName="Remark" type="textarea"></textarea>
					</div>

					<div class="c-control ion-text-right" *ngIf="BPExist">
						<label class="c-label" for=""></label>
						<ion-button (click)="applyBP(true)">{{'Apply' | translate}}</ion-button>
					</div>
					<div class="c-control ion-text-right" *ngIf="!BPExist">
						<label class="c-label" for=""></label>
						<ion-button (click)="saveChange()">{{'Add customer' | translate}}</ion-button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>