<ion-header>
	<app-list-toolbar selectedTitle="{{selectedItems.length}} {{'Order' | translate}}" pageTitle="{{'Order' | translate}}" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (createARInvoice)="createARInvoice()" (createSplitARInvoices)="createSplitARInvoices()" (createMergeARInvoice)="createMergeARInvoice()" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()" (changeBranch)="changeBranch($event)" (mergeOrders)="mergeSaleOrders()" (splitOrder)="splitSaleOrder()" (approveOrders)="approveOrders()" (disapproveOrders)="disapproveOrders()" (cancelOrders)="cancelOrders()" (submitOrdersForApproval)="submitOrdersForApproval()">
	</app-list-toolbar>

	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell" (click)="sortToggle('Id')">
				{{'#Order' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			
			<div class="col-status cell" (click)="sortToggle('IDStatus')">
				{{'Status' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.IDStatus" [name]="sort.IDStatus == 'IDStatus'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IDStatus" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-code cell" (click)="sortToggle('OrderDate')">
				{{'Daily order' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.OrderDate" [name]="sort.OrderDate == 'OrderDate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.OrderDate" name="search" color="primary"></ion-icon>

				<small title="{{'Sample' | translate}}" class="clickable" (click)="query.IsSampleOrder = query.IsSampleOrder? '' : true; refresh(); $event.stopPropagation()" [ngClass]="{active: query.IsSampleOrder}">
					<ion-text color="primary">Sa</ion-text>
				</small>
				<small title="{{'Coverage' | translate}}" class="clickable" (click)="query.IsShipBySaleMan = query.IsShipBySaleMan? '' : true; refresh(); $event.stopPropagation()" [ngClass]="{active: query.IsShipBySaleMan}">
					<ion-text color="primary">BP</ion-text>
				</small>
			</div>

			<div *ngIf="pageConfig.isShowExpectedDeliveryDate" class="col-date cell" (click)="sortToggle('ExpectedDeliveryDate')">
				{{'Expected delivery date' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.ExpectedDeliveryDate" [name]="sort.ExpectedDeliveryDate == 'ExpectedDeliveryDate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ExpectedDeliveryDate" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-name cell" (click)="sortToggle('CustomerName')">
				{{'Customer' | translate}}
				<small>#Id</small>

				<ion-icon class="min-btn" *ngIf="sort.CustomerName" [name]="sort.CustomerName == 'CustomerName'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.CustomerName" name="search" color="primary"></ion-icon>



				<small class="address">
					<ion-text color="dark">{{'Address' | translate}}</ion-text>
				</small>
			</div>
			<div class="col-code cell" (click)="sortToggle('Saleman')">
				{{'Sales staff' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Saleman" [name]="sort.Saleman == 'Saleman'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Saleman" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell money">
				{{'Value after discount' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.OriginalTotalAfterTax" [name]="sort.OriginalTotalAfterTax == 'OriginalTotalAfterTax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.OriginalTotalAfterTax" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('Code')">
				{{'Vendor code' | translate}}
				<ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code" name="search" color="primary"></ion-icon>
			</div>


		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell">
					<input placeholder="{{'Id' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="">
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div>
				
				<div class="col-status cell">
					<select (change)="refresh()" class="c-input c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDStatus" [ngClass]="{active: query.IDStatus}">
						<option value="">{{'All' | translate}}</option>
						<option value="[103, 110]">{{'Order to be approved' | translate}}</option>
						<option value="[104,113]">{{'Orders waiting for Driver allocation' | translate}}</option>
						<option value="[101,102,103,104,110]">{{'Not yet delivered' | translate}}</option>
						<option disabled value="">----------</option>
						<option *ngFor="let t of statusList" [value]="t.Id">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.IDStatus='[101,102,103,104,110]'; refresh()" *ngIf="query.IDStatus != '[101,102,103,104,110]'" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<input placeholder="{{'Daily order' | translate}}" (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.OrderDate" class="c-input" [ngClass]="{active: query.OrderDate}" type="date">
					<ion-icon class="min-btn" (click)="query.OrderDate=''; refresh()" *ngIf="query.OrderDate" name="close-circle-outline"></ion-icon>
				</div>
				<div *ngIf="pageConfig.isShowExpectedDeliveryDate" class="col-date cell">
					<input placeholder="{{'Daily order' | translate}}" (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.ExpectedDeliveryDate" class="c-input" [ngClass]="{active: query.ExpectedDeliveryDate}" type="date">
					<ion-icon class="min-btn" (click)="query.ExpectedDeliveryDate=''; refresh()" *ngIf="query.ExpectedDeliveryDate" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-name cell">
					<input placeholder="{{'Customer' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.CustomerName" class="c-input" [ngClass]="{active: query.CustomerName}" type="text">
					<ion-icon class="min-btn" (click)="query.CustomerName=''; refresh()" *ngIf="query.CustomerName" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<input placeholder="{{'Sales staff' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Saleman" class="c-input" [ngClass]="{active: query.Saleman}" type="text">
					<ion-icon class="min-btn" (click)="query.Saleman=''; refresh()" *ngIf="query.Saleman" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell money">
					<input placeholder="{{'Value after discount' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.OriginalTotalAfterTax" class="c-input" [ngClass]="{active: query.OriginalTotalAfterTax}" type="text">
					<ion-icon class="min-btn" (click)="query.OriginalTotalAfterTax=''; refresh()" *ngIf="query.OriginalTotalAfterTax" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<input placeholder="{{'Vendor code' | translate}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Code" class="c-input" [ngClass]="{active: query.Code}" type="text">
					<ion-icon class="min-btn" (click)="query.Code=''; refresh()" *ngIf="query.Code" name="close-circle-outline"></ion-icon>
				</div>


				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<ion-fab *ngIf="pageConfig.isShowFeature" style="height: 45px; z-index: 100;" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature" vertical="top" horizontal="end" slot="fixed">
		<ion-toolbar color="primary">
			<ion-segment scrollable="true" (ionChange)="segmentView = $event.detail.value;" [value]="segmentView">
				<ion-segment-button value="s1">
					<ion-label>{{'Driver allocation' | translate}}</ion-label>
				</ion-segment-button>
				<ion-segment-button value="s2" *ngIf="pageConfig.canImportMasanSaleOrder">
					<ion-label>{{'Import order' | translate}}</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-toolbar>
	</ion-fab>
	<ion-fab *ngIf="pageConfig.isShowFeature" style="top:-25px !important;" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature" vertical="top" horizontal="end" slot="fixed">
		<div class="ion-padding"></div>

		<div *ngIf="segmentView=='s1'">
			<div class="ion-padding">
				<div class="c-control">
					<label class="c-label" for="DeliveryDate">Ngày giao hàng</label>
					<input class="c-input" (change)="loadShipmentList()" id="DeliveryDate" type="date" [(ngModel)]="shipmentQuery.DeliveryDate">
				</div>

				<div class="c-control">
					<label class="c-label" for="IDVehicle">{{'License plate' | translate}}</label>
					<ng-select appendTo="" (change)="loadShipmentList()" class="c-input" #IDVehicle [(ngModel)]="shipmentQuery.IDVehicle" labelForId="IDVehicle" [items]="vehicleList" bindLabel="Name" bindValue="Id" placeholder="{{'Search for license plate' | translate}}">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
							</div>
						</ng-template>
					</ng-select>
				</div>

			</div>

			<ion-list-header lines="full">
				<ion-label color="dark">{{'delivery list' | translate}}</ion-label>
				<ion-button size="small" title="{{'Add shipment' | translate}}" (click)="nav('shipment/0','forward', {queryParams: {shipment: shipmentQuery}})">
					<ion-icon slot="icon-only" name="add"></ion-icon>
				</ion-button>
			</ion-list-header>
			<ion-list>
				<ion-item lines="full" *ngFor="let i of shipmentList">

					<ion-label class="ion-text-wrap clickable" (click)="nav('shipment/'+i.Id,'forward')">
						<ion-text>
							<h3>{{i.ShipperName}}</h3>
						</ion-text>
						<p>
							<ion-text color="primary"> {{i.VehicleName}} </ion-text> {{i.DeliveryDateText}}
						</p>
					</ion-label>
					<ion-badge color="success" [ngClass]="{show: !selectedItems.length}" class="count" slot="end">{{i.OrderCount}}<ion-text color="danger" *ngIf="i.DebtCount">+{{i.DebtCount}}</ion-text> đơn</ion-badge>
					<ion-button [disabled]="submitAttempt" color="primary" *ngIf="selectedItems.length" class="add" slot="end" (click)="addSOtoShipment(i)">+ {{selectedItems.length}} đơn</ion-button>
				</ion-item>
			</ion-list>

			<div class="ion-padding" *ngIf="!shipmentList.length">
				<ion-button (click)="nav('shipment/0','forward', {queryParams: {shipment: shipmentQuery}})" expand="block" shape="round" [disabled]="submitAttempt">
					{{'Add shipment' | translate}}
				</ion-button>
			</div>

		</div>

		<div *ngIf="pageConfig.canImportMasanSaleOrder && segmentView=='s2'">
			<!-- <ion-list-header lines="inset">
				<ion-label color="dark">{{'order-import-title' | translate}}</ion-label>
			</ion-list-header> -->

			<div class="ion-padding">

				<div class="c-control">
					<label class="c-label" for="featureDate">{{'Order created date' | translate}}</label>
					<input class="c-input" [(ngModel)]="masanImportParam.featureDate" id="featureDate" type="date">
				</div>

				<div class="c-control">
					<label class="c-label" for="kho">{{'Warehouse' | translate}}</label>
					<select id="kho" [(ngModel)]="masanImportParam.wareHouse" class="c-input c-dropdown">
						<option value="KF1652T01">{{'long-thanh' | translate}}</option>
						<option value="KF1652">{{'xuan-loc' | translate}}</option>
					</select>
				</div>

				<div class="c-control">
					<ion-button [disabled]="submitAttempt" color="primary" expand="block" (click)="masanImport()"> {{'Import Masan order' | translate}}</ion-button>
					<!-- shape="round" -->
				</div>

				<div class="c-control">
					<ion-button [disabled]="submitAttempt" color="primary" expand="block" (click)="onClickImport()"> {{'Import file' | translate}}</ion-button>
					<input class="hide-all" #importfile2 type="file" accept=".xlsx" (change)="import2($event)" />
				</div>
				<div class="col-control"></div>
			</div>

		</div>

		<div class="ion-padding ion-margin"></div>
	</ion-fab>

	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			
					
					<div class="row" [ngClass]="{selected: i.checked}" [ngClass]="{bold: i._HasSubOrder}" *ngFor="let i of items">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						
						<div  class="col-id cell">
							<span class="spacing" *ngFor="let l of i._levels"></span>
							<ion-icon (click)="toggleRow(i, $event);" class="min-btn clickable" [name]="i._HasSubOrder? (!i._ShowSubOrder? 'chevron-forward-outline':'chevron-down-outline') : '' "></ion-icon> 
							<a (click)="nav(this.pageConfig.pageName+'/'+i.Id,'forward')" [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]" [title]="i.Id">{{i.Id}}</a>
						</div>
						<div class="col-status cell" >
							<ion-badge [color]="i._Status.Color" [title]="i._Status.Name">
								{{i._Status.Name}}
							</ion-badge>
							<ng-container *ngFor="let s of i.ShipmentIds">

								<small class="clickable" *ngIf="s" [title]="'Shipment: '+s" (click)="nav('shipment/'+s,'forward')">
									<ion-icon name="shipping-fast"></ion-icon>
								</small>

							</ng-container>
						</div>
						<div class="col-code col-orderDate cell"  *ngIf="i.IDParent">
							{{i.OrderDate | date : 'yyyy/MM/dd HH:mm'}}
						</div>

						<div class="col-code col-orderDate cell" *ngIf="!i.IDParent" (click)="query.OrderDate=i.Query; pageConfig.isShowSearch=true; refresh()">
							{{i.OrderDateText}}
							<small *ngIf="i.OrderTimeText != '00:00' ">{{i.OrderTimeText}}</small>
							<small title="{{'Sample' | translate}}" class="clickable" (click)="query.IsSampleOrder=true; refresh(); $event.stopPropagation();" *ngIf="i.IsSampleOrder">
								<ion-text color="primary">Sa</ion-text>
							</small>
							<small title="{{'Coverage' | translate}}" class="clickable" (click)="query.IsShipBySaleMan=true; refresh(); $event.stopPropagation();" *ngIf="i.IsShipBySaleMan">
								<ion-text color="primary">BP</ion-text>
							</small>
						</div>
						<div *ngIf="pageConfig.isShowExpectedDeliveryDate" class="col-date cell" (click)="query.ExpectedDeliveryDate=i.QueryExpectedDeliveryDate; pageConfig.isShowSearch=true; refresh()">
							<span *ngIf="i.ExpectedDeliveryDateText">{{i.ExpectedDeliveryDateText}}</span>
							<small *ngIf="i.ExpectedDeliveryTimeText && i.ExpectedDeliveryTimeText != '00:00' ">{{i.ExpectedDeliveryTimeText}}</small>
						</div>
						<div class="col-name col-customerName cell">

							<span *ngIf="!i.IDParent" title="{{'View order's details' | translate}}" (click)="nav('sale-order/'+i.Id,'forward')">{{i._Customer.Name}}
								<small title="{{'Search for this customer' | translate}}" (click)="query.CustomerName='C:'+i.IDContact; pageConfig.isShowSearch=true; refresh()">
									{{i.IDContact}}
								</small>
								<a [href]="'#/'+'business-partner/'+i.IDContact" (click)="nav('business-partner/'+i.IDContact,'forward')" title="{{'View customers' information' | translate}}">
									<ion-icon name="open-outline"></ion-icon>
								</a>
							</span>
							<small *ngIf="!i.IDParent && i._Customer?.Address" class="address">
								<ion-text color="dark"> <span>{{i._Customer.Address.AddressLine1}}</span> <span *ngIf="i._Customer.Address.AddressLine2"> {{i._Customer.Address.AddressLine2}}</span> </ion-text>
							</small>
						</div>
						<div class="col-code col-saleMan cell"> {{i._Saleman? i._Saleman.FullName :''}}</div>
						<div class="col-code cell money"><span *ngIf="i.TotalAfterTax">{{i.TotalAfterTax | number: '1.0-0'}}</span><span *ngIf="!i.TotalAfterTax">{{i.OriginalTotalAfterTax | number: '1.0-0'}}</span></div>
						<div class="col-code col-vendorCode cell">{{i.Code}}</div>
					</div>
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>